###  How to create new column with calculated values from column exist

In [1]:
# import a library

import pandas as pd

In [2]:
# import csv data to a dataframe

df = pd.read_csv('Iris.csv')
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
3,4,4.6,3.1,1.5,0.2,Iris-setosa
136,137,6.3,3.4,5.6,2.4,Iris-virginica
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
2,3,4.7,3.2,1.3,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
106,107,4.9,2.5,4.5,1.7,Iris-virginica
9,10,4.9,3.1,1.5,0.1,Iris-setosa
109,110,7.2,3.6,6.1,2.5,Iris-virginica
85,86,6.0,3.4,4.5,1.6,Iris-versicolor
42,43,4.4,3.2,1.3,0.2,Iris-setosa

In [3]:
df.shape

(150, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
# create a mapping data by using dictionary

species_num_map = {'Iris-setosa': 0,
                   'Iris-versicolor': 1,
                   'Iris-virginica': 2}
species_num_map

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [7]:
# create a new column named "SpeciesNum"

df['SpeciesNum'] = df['Species'].map(species_num_map)
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpeciesNum
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [8]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SpeciesNum
88,89,5.6,3.0,4.1,1.3,Iris-versicolor,1
50,51,7.0,3.2,4.7,1.4,Iris-versicolor,1
62,63,6.0,2.2,4.0,1.0,Iris-versicolor,1
147,148,6.5,3.0,5.2,2.0,Iris-virginica,2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
11,12,4.8,3.4,1.6,0.2,Iris-setosa,0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,2
93,94,5.0,2.3,3.3,1.0,Iris-versicolor,1
32,33,5.2,4.1,1.5,0.1,Iris-setosa,0
128,129,6.4,2.8,5.6,2.1,Iris-virginica,2