### Open Government Data of Thailand 

- Learning date: 30-Oct-23
- Learning from: Aj. Prasert Kanawattanachai
    - Github: https://github.com/prasertcbs/
    - YouTube: https://www.youtube.com/prasertcbs

- More information: Open Government Data of Thailand (https://data.go.th)

In [37]:
# import libraries

import pandas as pd
import requests

In [38]:
# read csv (TIS-620, cp874, Windows-874) from url to a dataframe

url = "https://data.go.th/dataset/88351b7d-e662-4b04-81a3-8b2ee0878eb3/resource/594ba69c-fba9-42a9-bdfd-9861328c8e89/download/22-lpg-20-06jun-oth.csv"

df = pd.read_csv(url, encoding = 'iso8859-11')
# df = pd.read_csv(url, encoding = 'tis-620')
# df = pd.read_csv(url, encoding = 'cp874')
# df = pd.read_csv(url, encoding = 'thai')
df.head(4)

,ตารางแสดงปริมาณ ก๊าซแอลพีจี ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,สาขา อุตสาหกรรม,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ตั้งแต่เดือน มิถุนายน ถึง เดือน มิถุนายน 2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปริมาณ /พันกิโลกรัม
3,ลำดับที่,จังหวัด,ปตท.,เอสโซ่,บางจาก,พีทีจี,ยูนิคแก๊ส,แสงทอง,สยามแก๊ส,ไออาร์พีซี,...,ทาคูนิ,บิ๊กแก๊ส,ปตท. น้ำมันและการค้าปลีก,พีเอพี แก๊ส วัน,ออร์คิดแก๊ส,อูโน่ แก๊ส,เอ็นเอส แก๊ส,แอตลาส ออยล์,ไทยแก๊ส,รวมทั้งสิ้น

In [39]:
df = pd.read_csv(url, encoding = 'cp874')
df.head(4)

,ตารางแสดงปริมาณ ก๊าซแอลพีจี ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,สาขา อุตสาหกรรม,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ตั้งแต่เดือน มิถุนายน ถึง เดือน มิถุนายน 2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปริมาณ /พันกิโลกรัม
3,ลำดับที่,จังหวัด,ปตท.,เอสโซ่,บางจาก,พีทีจี,ยูนิคแก๊ส,แสงทอง,สยามแก๊ส,ไออาร์พีซี,...,ทาคูนิ,บิ๊กแก๊ส,ปตท. น้ำมันและการค้าปลีก,พีเอพี แก๊ส วัน,ออร์คิดแก๊ส,อูโน่ แก๊ส,เอ็นเอส แก๊ส,แอตลาส ออยล์,ไทยแก๊ส,รวมทั้งสิ้น

In [40]:
df = pd.read_csv(url, encoding = 'tis-620', skiprows = 4)
df.head(4)

,ลำดับที่,จังหวัด,ปตท.,เอสโซ่,บางจาก,พีทีจี,ยูนิคแก๊ส,แสงทอง,สยามแก๊ส,ไออาร์พีซี,...,ทาคูนิ,บิ๊กแก๊ส,ปตท. น้ำมันและการค้าปลีก,พีเอพี แก๊ส วัน,ออร์คิดแก๊ส,อูโน่ แก๊ส,เอ็นเอส แก๊ส,แอตลาส ออยล์,ไทยแก๊ส,รวมทั้งสิ้น
0,NaN,กรุงเทพฯ และปริมณฑล,78.0,785,NaN,NaN,"2,061",NaN,NaN,310.0,...,348.0,410.0,"4,230",226,14.0,NaN,NaN,NaN,85.0,"9,609"
1,1.0,กรุงเทพมหานคร,78.0,271,NaN,NaN,869,NaN,NaN,310.0,...,41.0,289.0,509,8,NaN,NaN,NaN,NaN,NaN,"2,700"
2,2.0,สมุทรปราการ,NaN,420,NaN,NaN,761,NaN,NaN,NaN,...,165.0,120.0,"2,249",158,NaN,NaN,NaN,NaN,70.0,"4,523"
3,3.0,นนทบุรี,NaN,NaN,NaN,NaN,87,NaN,NaN,NaN,...,NaN,NaN,261,NaN,7.0,NaN,NaN,NaN,15.0,426

In [41]:
# read excel from url

url = "https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd/resource/8364f303-8f2f-4693-aa0c-2c96dc7cb075/download/-..-65.xlsx"

df = pd.read_excel(url)
df

,เดือน,ปี,โครงการ,จำนวนผู้โดยสารรวม,จำนวนผู้โดยสารเฉลี่ยรายวัน,จำนวนผู้โดยสารเฉลี่ยรายวันธรรมดา,จำนวนผู้โดยสารเฉลี่ยรายวันหยุด
0,มกราคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8613608,277858,316029,184553
1,กุมภาพันธ์,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8212613,293308,329204,217526
2,มีนาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8123428,262046,287668,208239
3,เมษายน,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,6990396,233013,285863,153738
4,พฤษภาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,7265594,234374,276809,175618
...,...,...,...,...,...,...,...
174,พฤษภาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1198303,38655,47597,26274
175,มิถุนายน,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1460459,48682,56948,29394
176,กรกฎาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1399784,45154,58720,30684
177,สิงหาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1608598,51890,60880,29917
178,กันยายน,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1682405,56080,64567,32742

### Data API

In [42]:
# impoer library

from getpass import getpass

In [43]:
api_key = getpass()

- Green Hotel
https://opendata.data.go.th/dataset/db0103-002
    - https://opend.data.go.th/get-ckan/datastore_search?resource_id=d13e3be5-9020-4a78-9a7e-760b2dcbf6be&limit=5
- Employee
https://opendata.data.go.th/dataset/os_17_00010

In [44]:
# Request headers

headers = {
    "api-key": api_key,
}

params = {"resource_id": "d13e3be5-9020-4a78-9a7e-760b2dcbf6be", "limit": 5}
r = requests.get(
    "https://opend.data.go.th/get-ckan/datastore_search", params, headers = headers
)
if r.ok:
    j = r.json()
    records = j["result"]["records"]
df = pd.DataFrame(records)
df

,_id,No,Agency,Project,Budget Year,Award,Tumbol,Amphur,Province,Postcode,Telephone,Start_Date,End_Date
0,1,1,โรงแรมดุสิตธานี พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),นาเกลือ,บางละมุง,ชลบุรี,20150,038 425 611,2556,2558
1,2,2,โรงแรมสยามเบย์ ชอว์ พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),,บางละมุง,ชลบุรี,20150,038 428 678,2556,2558
2,3,3,โรงแรมไทยการ์เด้นรีสอร์ท พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),หนองปรือ,บางละมุง,ชลบุรี,20150,038 370 614,2556,2558
3,4,4,โรงแรมลองบีช รีสอร์ท พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),,บางละมุง,ชลบุรี,20150,038-414-616-26,2556,2558
4,5,5,โรงแรมบ้านอัมพวารีสอร์ทแอนด์สปา สมุทรสงคราม,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),อัมพวา,อัมพวา,สมุทรสงคราม,75110,034 752 222,2556,2558

In [45]:
r.json()

{'help': 'https://data.go.th/api/3/action/help_show?name=datastore_search',
 'success': True,
 'result': {'include_total': True,
  'resource_id': 'd13e3be5-9020-4a78-9a7e-760b2dcbf6be',
  'fields': [{'type': 'int', 'id': '_id'},
   {'type': 'numeric', 'id': 'No'},
   {'type': 'text', 'id': 'Agency'},
   {'type': 'text', 'id': 'Project'},
   {'type': 'numeric', 'id': 'Budget Year'},
   {'type': 'text', 'id': 'Award'},
   {'type': 'text', 'id': 'Tumbol'},
   {'type': 'text', 'id': 'Amphur'},
   {'type': 'text', 'id': 'Province'},
   {'type': 'text', 'id': 'Postcode'},
   {'type': 'text', 'id': 'Telephone'},
   {'type': 'numeric', 'id': 'Start_Date'},
   {'type': 'numeric', 'id': 'End_Date'}],
  'records_format': 'objects',
  'records': [{'_id': 1,
    'No': 1,
    'Agency': 'โรงแรมดุสิตธานี พัทยา ชลบุรี',
    'Project': 'Green Hotel',
    'Budget Year': 2556,
    'Award': 'ระดับดีเยี่ยม (ทอง)',
    'Tumbol': 'นาเกลือ',
    'Amphur': 'บางละมุง',
    'Province': 'ชลบุรี',
    'Postcode': '20150',
    'Telephone': '038 425 611',
    'Start_Date': 2556,
    'End_Date': 2558},
   {'_id': 2,
    'No': 2,
    'Agency': 'โรงแรมสยามเบย์ ชอว์ พัทยา ชลบุรี',
    'Project': 'Green Hotel',
    'Budget Year': 2556,
    'Award': 'ระดับดีเยี่ยม (ทอง)',
    'Tumbol': '',
    'Amphur': 'บางละมุง',
    'Province': 'ชลบุรี',
    'Postcode': '20150',
    'Telephone': '038 428 678',
    'Start_Date': 2556,
    'End_Date': 2558},
   {'_id': 3,
    'No': 3,
    'Agency': 'โรงแรมไทยการ์เด้นรีสอร์ท พัทยา ชลบุรี',
    'Project': 'Green Hotel',
    'Budget Year': 2556,
    'Award': 'ระดับดีเยี่ยม (ทอง)',
    'Tumbol': 'หนองปรือ',
    'Amphur': 'บางละมุง',
    'Province': 'ชลบุรี',
    'Postcode': '20150',
    'Telephone': '038 370 614',
    'Start_Date': 2556,
    'End_Date': 2558},
   {'_id': 4,
    'No': 4,
    'Agency': 'โรงแรมลองบีช รีสอร์ท พัทยา ชลบุรี',
    'Project': 'Green Hotel',
    'Budget Year': 2556,
    'Award': 'ระดับดีเยี่ยม (ทอง)',
    'Tumbol': '',
    'Amphur': 'บางละมุง',
    'Province': 'ชลบุรี',
    'Postcode': '20150',
    'Telephone': '038-414-616-26',
    'Start_Date': 2556,
    'End_Date': 2558},
   {'_id': 5,
    'No': 5,
    'Agency': 'โรงแรมบ้านอัมพวารีสอร์ทแอนด์สปา สมุทรสงคราม  ',
    'Project': 'Green Hotel',
    'Budget Year': 2556,
    'Award': 'ระดับดีเยี่ยม (ทอง)',
    'Tumbol': 'อัมพวา',
    'Amphur': 'อัมพวา',
    'Province': 'สมุทรสงคราม',
    'Postcode': '75110',
    'Telephone': '034 752 222',
    'Start_Date': 2556,
    'End_Date': 2558}],
  'limit': 5,
  '_links': {'start': '/api/3/action/datastore_search?limit=5&resource_id=d13e3be5-9020-4a78-9a7e-760b2dcbf6be',
   'next': '/api/3/action/datastore_search?offset=5&limit=5&resource_id=d13e3be5-9020-4a78-9a7e-760b2dcbf6be'},
  'total': 459}}

### Function

In [46]:
import requests
import pandas as pd

def gov_open_data(api_key, resource_id: str, nrows = 10000):

    """
    >>> gov_open_data("your api-key", "ce7f4a78-71db-4754-9084-edca971903bd", nrows=3)
    """

    # Request headers
    headers = {"api-key": api_key,}

    params = {"resource_id": resource_id, "limit": nrows}
    r = requests.get("https://opend.data.go.th/get-ckan/datastore_search", params, headers = headers)

    j = r.json()
    records = j["result"]["records"]
    return pd.DataFrame(records)

In [48]:
gov_open_data(api_key, "d13e3be5-9020-4a78-9a7e-760b2dcbf6be", nrows = 3)

,_id,No,Agency,Project,Budget Year,Award,Tumbol,Amphur,Province,Postcode,Telephone,Start_Date,End_Date
0,1,1,โรงแรมดุสิตธานี พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),นาเกลือ,บางละมุง,ชลบุรี,20150,038 425 611,2556,2558
1,2,2,โรงแรมสยามเบย์ ชอว์ พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),,บางละมุง,ชลบุรี,20150,038 428 678,2556,2558
2,3,3,โรงแรมไทยการ์เด้นรีสอร์ท พัทยา ชลบุรี,Green Hotel,2556,ระดับดีเยี่ยม (ทอง),หนองปรือ,บางละมุง,ชลบุรี,20150,038 370 614,2556,2558